*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
#youtubelink a{
    display: block;
    background-color: #ff0000;   
    float: right;
    font-family:sans-serif;
    font-size: 20px;
    color: #fff;
    /* for shadow */
    box-shadow: 5px 5px #0162c8;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    min-height: fit-content;
    text-transform: uppercase;
    text-decoration: none;
} 
h1 {
    text-align: center;
    font-family: sans-serif;   
    margin: 20px;
    padding: 20px;
}
.title{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(204,202,90,1) 55%);
    padding: 10px 55px;
    border-radius: 20px;
    color: #fff;
}
button{
    background-color: lightseagreen;
    color: white;
    float: right;
    margin: 10px;
}
/* design of the button of the videos sections */
.more1 a{
    display: block;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
    float: right;
    font-family: sans-serif;
    font-size: 20px;
    margin: 10px;
    color: #fff;
    /* for shadow */
    box-shadow: 3px 3px rgb(163, 163, 163);
    padding: 10px;
    border-radius: 5px;
    min-height: fit-content;
    text-transform: uppercase;
    text-decoration: none;
}
/* Keep space between videos in the video section of the nav bar */
div span iframe{
    margin: 5px;
    box-shadow: 5px 5px rgb(0, 195, 255);

}
div span{
    margin-left: 4px;
}
@media only screen and (max-width: 400px) {
    iframe{
        display: block;
        width: 100%;
        height: auto;
        padding: 10px;
    }
}
@media only screen and (max-width: 300px) {
    .title{
        display: block;
        width: 100%;
        height: auto;
        margin-top: 5px;
        }
}
@media only screen and (max-width: 300px) {
    .more1{
        align-items: center;
        justify-content: center;
        /* padding: 10px; */
        }
}
