/* DESIGNED & DEELOPED BY: CSKHAZANA */

/* Importing font Playfair */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* {
    box-sizing: border-box;
}

/* initilizing margin padding and border-box for parent*/

body {
    margin: 0px;
    padding: 0px;
}

/* rules for topmost section  */

#top {
    margin: 20px 10px;
    display: grid;
    background-color: #ffffff;
    grid-template-columns: 6fr 4fr;
}

/* some rule for popular-post section  */

.popular-post {
    margin: 10px 30px;
    height: 600px;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: 2.5fr 1fr 2.5fr;
    grid-template-rows: 7% repeat(2, 30%) 5%;
    column-gap: 5px;
    row-gap: 20px;
    grid-auto-rows: minmax(50px, 75px);
    grid-auto-columns: minmax(50px, 75px);
}

/* some rule for h2 in popular post section  */

#top .popular-post h2 {
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

/* aligned post-1 */

.popular-post #post-1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

/* aligned post-2 */

.popular-post #post-2 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}

/* aligned more button in popular-post section  */

.popular-post .mr-popular-post {
    text-align: center;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}

/* some rules for both posts  */

.popular-post .posts {
    background-color: #ffffff;
    border: 2px solid #c3cfd9;
    display: grid;
    grid-template-columns: 1.94fr 1.56fr;
    column-gap: 5px;
    row-gap: 5px;
}

/* some rules for images in posts  */

.popular-post .posts .img {
    background-color: #dfe6ed;
    grid-column-start: 1;
    grid-column-end: 2;
}

/* some rules for paragraph in posts section  */

.popular-post .posts .para {
    margin-top: 26px;
    background-color: #ffffff;
    grid-column-start: 2;
    grid-column-end: 3;
}

/* rules for instagram section  */

.instagram {
    background-color: rgb(255, 140, 140);
    grid-column-start: 2;
    grid-column-end: 3;
}